container {
    display:flex;
    justify-content:center;
}

img {
    position: absolute;
    top: 30%;
    left: 50%;
    margin-top: 170px;
    margin-left: -200px;
 }
 .footer {
     
        position:fixed;
        bottom:30px;
        height:40px;
        width:100%;

 }
 body {
    font-family: 'Kirang Haerang', cursive;
     background-image: url("field.jpeg");
     background-size: auto;
     font-size: 30px;
 }
 #pig-img {
     width:300px
 }
